<div class="compos-area">

    <div class="container">

        <div class="row darker">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">General compo rules</h3>
                <ul>
                    <li>All entries must be previously unreleased.</li>
                    <li>Remote entries are not allowed.</li>
                    <li>
                        We reserve the right to perform preselection if we get an extraordinary amount of entries
                        for a compo. We also reserve the right to disqualify any entries that we think are not
                        serious. Only competing entries will be distributed after the party.
                    </li>
                </ul>
                <p>
                    Check out last years's <a href="https://demozoo.org/parties/3165/results_file/1294/">results</a>
                    and <a href="https://demozoo.org/parties/3165/">released entries</a>.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Technical compo information</h3>
                <ul>
                    <li>
                        Bring your own hardware if your contribution runs on anything other than one of the listed
                        compo machines.
                    </li>
                    <li>
                        Entries running on listed compo machines will be shown live. Entries on
                        your own hardware will also be shown live if possible. If you know your platform can
                        be difficult to show live on a digital broadcast bus be prepared to arrange a recording
                        in either 50 or 60 Hz.
                    </li>
                    <li>
                        Projector resolution: 1920x1080@60Hz (oldskool 50Hz)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Live Graphics Duel</h3>
                <ul>
                    <li>Time on stage: 15 minutes.</li>
                    <li>Bring your own drawing setup that can output a mirrored image over HDMI, for example a laptop</li>
                    <li>
                        Rules to be announced, call for participants will be made, please do contact us if you want to enter!
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Live Tracked Music Duel</h3>
                <ul>
                    <li>Time on stage: 15 minutes.</li>
                    <li>Sample set will be provided before the compo.</li>
                    <li>Bring your own tracking setup that can output a mirrored image over HDMI, sound output over RCA/Tele/XLR & headphones</li>
                    <li>
                        Rules to be announced, call for participants will be made, please do contact us if you want to enter!
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Newschool Demo</h3>
                <ul>
                    <li>Maximum running time: 8 minutes.</li>
                    <li>Maximum disk size: 64 MiB.</li>
                    <li>
                        Compo machines:
                        <ul>
                            <li>Intel Core i7-5820K 3.3GHz or better</li>
                            <li>16GB 3000MHz quad-channel DDR4 or more</li>
                            <li>Nvidia Geforce GTX 1080 Ti or better</li>
                            <li>Windows 10, 64 bit, latest release</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Newschool Intro</h3>
                <ul>
                    <li>Maximum running time: 8 minutes.</li>
                    <li>Maximum disk size: 64 KiB.</li>
                    <li>
                        Compo machines:
                        <ul>
                            <li>Intel Core i7-5820K 3.3GHz or better</li>
                            <li>16GB 3000MHz quad-channel DDR4 or more</li>
                            <li>Nvidia Geforce GTX 1080 Ti or better</li>
                            <li>Windows 10, 64 bit, latest release</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <iframe width="430" height="240" src="https://www.youtube-nocookie.com/embed/gk1z6BaW0aE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p><i>Last year's winning entry in Newschool Demo</i></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <iframe width="430" height="240" src="https://www.youtube-nocookie.com/embed/wkk0bW-opUA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p><i>Last year's winning entry in Newschool Intro</i></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Oldschool Demo</h3>
                <ul>
                    <li>Anything up to and including accelerated Amiga/Atari.</li>
                    <li>Maximum running time: 8 minutes.</li>
                    <li>Maximum disk size: 16 MiB.</li>
                    <li>
                        Compo machines:
                        <ul>
                            <li>C64 w. 8580 & 6581 SID switchable, 1541 Ultimate-2.</li>
                            <li>Amiga 1200 w. 060 66MHz, 128 MB RAM.</li>
                            <li>Amiga 500 w. standard RAM expansion.</li>
                            <li>Other? Bring your own hardware!</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Wild</h3>
                <ul>
                    <li>Maximum running time: 8 minutes.</li>
                    <li>
                        A demo on a platform that doesn't really fit the other categories, an application,
                        a game, something you built out of old SCSI controllers. Not an animation or video.
                    </li>
                    <li>Allowed formats: any (check with us if you're handing in something weird).</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <iframe width="430" height="240" src="https://www.youtube-nocookie.com/embed/uplyiXYgg6w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p><i>Last year's winning entry in Oldschool Demo</i></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <iframe width="430" height="240" src="https://www.youtube-nocookie.com/embed/VxoYejkj4Mc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p><i>Last year's second place in Wild</i></p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Animation & Video</h3>
                <ul>
                    <li>Maximum running time: 8 minutes.</li>
                    <li>A movie clip you made that's either pretty, interesting or funny.</li>
                    <li>Allowed formats: All movie formats (use common sense or contact us).</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Photo</h3>
                <ul>
                    <li>Photo compo, separate photo-only compo, new for 2018.</li>
                    <li>Retouching and collages are allowed.</li>
                    <li>Please provide unmodified photo as a workstage.</li>
                    <li>Allowed formats: JPEG.</li>
                    <li>
                        You have to be the creator of the photo.
                    </li>
                    <li>May be merged with graphics compos if we get too few entries in either compo.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <iframe width="430" height="240" src="https://www.youtube-nocookie.com/embed/IY72cAIRPvA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p><i>Last year's winning entry in Animation & Video</i></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <a href="https://demozoo.org/graphics/173810/">
                    <img width="430" height="240" src="https://media.demozoo.org/screens/o/60/86/b839.140146.jpg">
                </a>
                <p><i>Last year's second place in Newschool Graphics</i></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Newschool Graphics</h3>
                <ul>
                    <li>Combined hires/raytracing compo.</li>
                    <li>State if your picture is painted or raytraced when handing it in.</li>
                    <li>Please provide three workstages for painted pictures.</li>
                    <li>Allowed formats: PNG, JPEG.</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                    <li>Graphics compos may be merged if we get too few entries in either compo.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Oldschool Graphics</h3>
                <ul>
                    <li>Anything up to 320x256 with 8 BPP.</li>
                    <li>Please provide three workstages.</li>
                    <li>Allowed formats (PC/Amiga): PNG, IFF/ILBM.</li>
                    <li>Allowed formats (others): Executable.</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                    <li>Graphics compos may be merged if we get too few entries in either compo.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <a href="https://demozoo.org/graphics/173809/">
                    <img height="240" src="https://media.demozoo.org/screens/o/98/e8/6e1b.pl233165.png" />
                </a>
                <p><i>Last year's winning entry in Newschool Graphics</i></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <a href="https://demozoo.org/graphics/173813/">
                    <img height="240" src="https://media.demozoo.org/screens/o/5d/0b/afcf.140147.png" />
                </a>
                <p><i>Last year's winning entry in oldschool Graphics</i></p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">ASCII/ANSI Graphics</h3>
                <ul>
                    <li>Oldschool, newschool, block and ANSI in one compo</li>
                    <li>
                        Entries will be shown in PabloView. oldskool will be shown with topaz; standard
                        DOS font for the other styles.
                    </li>
                    <li>Keep it to 80 columns. Height? You decide.</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                    <li>We reserve the right to remove any converted entries from the compo.</li>
                </ul>
                <h3 class="section-title">Streaming Music</h3>
                <ul>
                    <li>Maximum running time: 4 minutes.</li>
                    <li>Provide a short list of software/hardware used to make the tune.</li>
                    <li>Allowed formats: MP3, Ogg, FLAC, WAV</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Oldschool & Tracked Music</h3>
                <ul>
                    <li>Maximum running time: 4 minutes.</li>
                    <li>
                        PC modules will be played using the latest version of XMPlay.
                        <br> Please specify if you want any specific playback settings in XMPlay, or
                        else these will apply:
                        <br> MOD: No Interpolation, No Ramping, 50 % Stereo Separation, normal MOD playback
                        mode.
                        <br> S3M/XM/IT: Sinc Interpolation, Sensitive Ramping, 50 % Stereo Separation.
                    </li>
                    <li>Amiga modules will be played using ProTracker, OctaMED, AHX or MusicLine.</li>
                    <li>
                        NES music can be handed in in FTM format and will be played in 0CC-FamiTracker if so.
                    </li>
                    <li>Allowed formats (PC): XM, IT, S3M</li>
                    <li>Allowed formats (Amiga): MOD, OctaMED, AHX, MusicLine</li>
                    <li>Allowed formats (NES): FamiTracker FTM, executable</li>
                    <li>Allowed formats (others): executable</li>
                    <li>
                        If your contribution is based on an existing piece of work, please provide a reference
                        when handing it in.
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

