<div id="compos" class="ready-to-play ptb90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="section-title">General compo rules</h1>
                <div class="clearfix"></div>
                <div class="tb-t subject">
                    <ul>
                        <li>All contributions must be previously unreleased.</li>
                        <li>Remote entries are not allowed.</li>
                        <li>
                            Bring your own hardware if your contribution runs on anything other than one of the listed
                            compo machines.
                        </li>
                        <li>
                            We reserve the right to perform preselection if we get an extraordinary amount of entries
                            for a compo. We also reserve the right to disqualify any entries that we think are not
                            serious. Only competing entries will be distributed after the party.
                        </li>
                        <li>Projector resolution: 1920x1080@60Hz (oldskool 50Hz)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="compos" class="compos-list fix ptb100 off-white">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="section-title">Compos</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row tb-compos">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="tab-menu-list pt11 mb70 text-center">
                    <ul class="nav compos-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#newskool-demo" aria-controls="newskool-demo" role="tab" data-toggle="tab">Newskool demo</a></li>
                        <li role="presentation"><a href="#newskool-intro" aria-controls="newskool-intro" role="tab" data-toggle="tab">Newskool intro</a></li>
                        <li role="presentation"><a href="#oldskool-demo" aria-controls="oldskool-demo" role="tab" data-toggle="tab">Oldskool demo</a></li>
                        <li role="presentation"><a href="#newskool-graphics" aria-controls="newskool-graphics" role="tab" data-toggle="tab">Newskool graphics</a></li>
                        <li role="presentation"><a href="#oldskool-graphics" aria-controls="oldskool-graphics" role="tab" data-toggle="tab">Oldskool graphics</a></li>
                        <li role="presentation"><a href="#ascii-ansi" aria-controls="ascii-ansi" role="tab" data-toggle="tab">ASCII/ANSI</a></li>
                        <li role="presentation"><a href="#streamed-music" aria-controls="streamed-music" role="tab" data-toggle="tab">Streamed music</a></li>
                        <li role="presentation"><a href="#oldskool-tracked-music" aria-controls="oldskool-tracked-music" role="tab" data-toggle="tab">Oldskool/Tracked music</a></li>
                        <li role="presentation"><a href="#wild" aria-controls="wild" role="tab" data-toggle="tab">Wild</a></li>
                        <li role="presentation"><a href="#animation" aria-controls="animation" role="tab" data-toggle="tab">Animation/video</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="clearfix"></div>
                <!--  Tab panes  -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="newskool-demo">
                        <div class=" subject">
                            <ul>
                                <li>Maximum running time: 8 minutes.</li>
                                <li>Maximum disk size: 64 MiB.</li>
                                <li>
                                    Compo machines:
                                    <ul>
                                        <!--
                                        <li>Hardware TBA</li> -->
                                        <li>Intel Core i7-5820K 3.3GHz</li>
                                        <li>16GB 3000MHz quad-channel DDR4</li>
                                        <li>Nvidia Geforce GTX 980 Ti 6GB or better</li>
                                        <li>Windows 10, 64 bit</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="newskool-intro">
                        <div class=" subject">
                            <ul>
                                <li>Maximum running time: 8 minutes.</li>
                                <li>Maximum disk size: 64 KiB.</li>
                                <li>
                                    Compo machines:
                                    <ul>
                                        <!--
                                        <li>Hardware TBA</li> -->
                                        <li>Intel Core i7-5820K 3.3GHz</li>
                                        <li>16GB 3000MHz quad-channel DDR4</li>
                                        <li>Nvidia Geforce GTX 1080 Ti</li>
                                        <li>Windows 10, 64 bit</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="oldskool-demo">
                        <div class="subject">
                            <ul>
                                <li>Anything up to and including accelerated Amiga/Atari.</li>
                                <li>Maximum running time: 8 minutes.</li>
                                <li>Maximum disk size: 16 MiB.</li>
                                <li>
                                    Compo machines:
                                    <ul>
                                        <li>C64 w. 8580 SID, 1541 Ultimate-2.</li>
                                        <li>Amiga 1200 w. 060 66MHz, 128 MB RAM.</li>
                                        <li>Amiga 500 w. standard RAM expansion.</li>
                                        <li>Other? Bring your own hardware!</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="newskool-graphics">
                        <div class=" subject">
                            <ul>
                                <li>Combined hires/raytracing/photo compo.</li>
                                <li>State if your picture is painted, raytraced or photographed when handing it in.</li>
                                <li>Please provide three workstages for painted pictures.</li>
                                <li>Allowed formats: PNG, JPEG.</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                                <li>Graphics compos may be merged if we get too few entries in either compo.</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="oldskool-graphics">
                        <div class="subject">
                            <ul>
                                <li>Anything up to 320x256 with 8 BPP.</li>
                                <li>Please provide three workstages.</li>
                                <li>Allowed formats (PC/Amiga): PNG, IFF/ILBM.</li>
                                <li>Allowed formats (others): Executable.</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                                <li>Graphics compos may be merged if we get too few entries in either compo.</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="ascii-ansi">
                        <div class="subject">
                            <ul>
                                <li>oldskool, newskool, block and ANSI in one compo - deal with it.</li>
                                <li>
                                    Entries will be shown in PabloView. oldskool will be shown with topaz; standard
                                    DOS font for the other styles.
                                </li>
                                <li>Keep it to 80 columns. Height? You decide.</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                                <li>We reserve the right to remove any converted shit from the compo.</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="streamed-music">
                        <div class=" subject">
                            <ul>
                                <li>Maximum running time: 4 minutes.</li>
                                <li>Provide a short list of software/hardware used to make the tune.</li>
                                <li>Allowed formats: MP3, Ogg, FLAC, WAV</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                                <li>
                                    To allow for premature tweaking, the audio gigamachinery will consist of
                                    <ul>
                                        <li>2 * <a href="http://tinyurl.com/fohhn-pt6" target="_blank">Fohhn PT-6</a></li>
                                        <li>2 * <a href="http://tinyurl.com/fohhn-ps6" target="_blank">Fohhn PS-9</a></li>
                                        <li>X32 mixer</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="oldskool-tracked-music">
                        <div class="subject">
                            <ul>
                                <li>Maximum running time: 4 minutes.</li>
                                <li>
                                    PC modules will be played using the latest version of XMPlay.
                                    <br> Please specify if you want any specific playback settings in XMPlay, or
                                    else these will apply:
                                    <br> MOD: No Interpolation, No Ramping, 50 % Stereo Separation, normal MOD playback
                                    mode.
                                    <br> S3M/XM/IT: Sinc Interpolation, Sensitive Ramping, 50 % Stereo Separation.
                                </li>
                                <li>Amiga modules will be played using ProTracker, OctaMED, AHX or MusicLine.</li>
                                <li>
                                    NES music can be handed in in FTM format and will be played in 0CC-FamiTracker if so.
                                </li>
                                <li>Allowed formats (PC): XM, IT, S3M</li>
                                <li>Allowed formats (Amiga): MOD, OctaMED, AHX, MusicLine</li>
                                <li>Allowed formats (NES): FamiTracker FTM, executable</li>
                                <li>Allowed formats (others): executable</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="wild">
                        <div class="subject">
                            <ul>
                                <li>Maximum running time: 8 minutes.</li>
                                <li>
                                    A demo on a platform that doesn't really fit the other categories, an application,
                                    a game, something you built out of old SCSI controllers...
                                </li>
                                <li>Allowed formats: any (check with us if you're handing in something weird).</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="animation">
                        <div class="S subject">
                            <ul>
                                <li>Maximum running time: 8 minutes.</li>
                                <li>A movie clip you made that's either pretty, interesting or funny.</li>
                                <li>Allowed formats: All movie formats (use common sense or contact us).</li>
                                <li>
                                    If your contribution is based on an existing piece of work, please provide a reference
                                    when handing it in.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- compos area end -->
