<!DOCTYPE html>
<html>
	<head>
		<title>Edison 2019 - Arx Proelio</title>
		<meta charset="UTF-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link href="content/style.css" rel="stylesheet">
    	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
		<meta property="og:url" content="https://edisonparty.com" />
		<meta property="og:title" content="Edison 2018 | July 20th to 22nd - Stockholm, Sweden" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image" content="https://edisonparty.com/content/facebook-image.jpg" />
		<meta property="og:image:url" content="https://edisonparty.com/content/facebook-image.jpg" />
		<meta property="og:image:width" content="187" />
		<meta property="og:image:height" content="50" />
		<script type="text/javascript">
			var onScroll = function(evt) {
				var pos = (window.pageYOffset / 2) + "px";
				var backElems = document.getElementsByClassName("banner");
				for (var index = 0; index < backElems.length; ++index) {
					backElems[index].style.top = pos; 
				}
			};
			window.addEventListener("scroll", onScroll, true);
		</script>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li><a href="#about">ABOUT</a></li>
				<li><a href="#visitors">VISITORS</a></li>
				<li><a href="#compos">COMPOS</a></li>
				<li><a href="#timetable">TIMETABLE</a></li>
				<li><a href="#crew">CREW</a></li>
			</ul>
		</div>
		<div class="page" id="visitors">
			<div class="content">
				<div class="wideblurb">
					<h1>VISITORS</h1>

					@RenderSection("Visitors", required: false)
				</div>
				<div class="blurb">
					<h2>REGISTRATION</h2>
					<div>inna da nation</div>
				</div>
			</div>
		</div>
		<div class="page" id="compos">
			<div class="content">
				<div class="blurb">
					<h1>COMPOS</h1>
					<div>Lorem ipsum, dolor sit amet.</div>
				</div>
			</div>
		</div>
		<div class="page" id="timetable">
			<div class="content">
				<div class="wideblurb">
					<h1>TIMETABLE</h1>
					<div>Lorem ipsum, dolor sit amet.</div>
				</div>
			</div>
		</div>
		<div class="page" id="crew">
			<div class="content">
				<div class="blurb">
					<h1>CREW</h1>
					<div>Lorem ipsum, dolor sit amet.</div>
				</div>
			</div>
		</div>
		<!-- Default page is the last one due to sibling selector rules. -->
		<div class="page" id="about">
			<div class="top">
				<div class="banner">
					<h1>Edison 2019</h1>
				</div>
			</div>
			<div class="content">
				<div class="column">
					<div class="blurb">
						<h2>AD MAIOREM SCENA GLORIAM</h2>
						<p>Once per cycle, since time immemorial, we in the
						demoscene have gathered to perform the rites of initiation,
						prowess and kinship. That time has now come again. You have
						been chosen among many to receive the exclusive honour of
						partaking in the festivities.</p>
						<p>Our reach is global. Nothing has been unforeseen. You
						will experience the pinnacle of demoscene achievement, with
						a vicinity and directness few dare dream of.</p>
						<p>All prospects are welcome. <a href="#visitors">Join the
						inner circle</a>, and realise your very destiny!</p>
					</div>
				</div>
				<div class="column">
					<div class="blurb">
						<h2>WELCOME TO STOCKHOLM</h2>
						<p>In the traditional venue of rituals; Eggeby Gård. It is
						accessible by public transportation followed by a walk, as
						well as by car if you can navigate the labyrinthine pathways
						that lead there. Fret not, initiate, we are here to guide
						you.</p>
					</div>
					<div class="blurb">
						<figure>
							<iframe src="https://www.youtube.com/embed/aQynWKspZgI"
									frameborder="0" 
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							<figcaption>"Redway", 1st place Newschool intro 2018.
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="column">
					<div class="blurb">
						<h2>COMPETITIONS</h2>
						<p>We feature competitions in all the classic disciplines.
						How about this:</p>
						<ul>
							<li>Newschool demo</li>
							<li>Oldschool demo</li>
							<li>Newschool intro</li>
							<li>Wild demo</li>
							<li>Oldschool graphics</li>
							<li>Newschool graphics</li>
							<li>ASCII/ANSI graphics</li>
							<li>Streaming music</li>
							<li>Oldschool/tracked music</li>
							<li>Animation &amp; video</li>
							<li>Photo</li>
						</ul>
						<p>And if that's not enough for you, we have some live
						compos as well:</p>
						<ul>
							<li>Live graphics duel</li>
							<li>Live tracked music duel</li>
						</ul>
					</div>
				</div>
			<div class="fullblurb">
				<h2>GETTING THERE</h2>
			</div>
		</div>
		<footer>
			Footer here
		</footer>
		@RenderSection("scripts", required: false)
	</body>
</html>

