<div class=".container-fluid">
    <div class="row">
        <div class="item handle col-xs-4 col-md-3">Handle</div>
        <div class="item group col-xs-4 col-md-3">Group(s)</div>
        <div class="item country col-xs-4 col-md-3">Country</div>
    </div>
    <div class="row" *ngFor="let participant of participants">
        <div class="item handle col-xs-4 col-md-3">{{participant.handle}}</div>
        <div class="item group col-xs-4 col-md-3">{{participant.group}}</div>
        <div class="item country col-xs-4 col-md-3">{{participant.country}}</div>
    </div>
</div>