.btn-primary {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

.btn-primary:hover {
    color: #000 !important;
    background-color: #FFF !important;
    border-color: #204d74 !important;
}


a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}
