<div>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-left">
                        <div class="about-top">
                            <h1 class="section-title">Edison</h1>
                            <div class="total-step">
                                <div class="descp">
                                    <p>It's time yet again for 3 days filled with demos, intros, music, graphics and demoscene
                                        love... Edison features lots of competitions – code for all available platforms,
                                        compose music, draw or animate beautiful graphics – there's something for everybody!</p>
                                </div>
                            </div>
                        </div>
                        <h1 class="section-title">Participate</h1>
                        <div class="total-step">
                            <div class="about-step">
                                <div class="descp">
                                    <p>New to the demoscene? Great, come join us and see what its all about!</p>
                                </div>
                                <div class="descp">
                                    <p>Old fart? Would not be the same without you.
                                        <br>You are all hereby officially invited to Swedens biggest multiplatform demoparty!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <registration></registration>
                </div>
            </div>
        </div>
    </div>
    <div class="slack-invite-area">
        <slack-invite></slack-invite>
    </div>

    <div class="event-about-are off-white ptb90">
        <div class="container">
            <div class="row">
                <h1 class="section-title pb20">About</h1>
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <p>Three days of non-stop data at the lovely Eggeby gård on Järvafältet in Stockholm.
                            <br/>
                            <br/> As usual we offer the best selection of compos ranging from oldskool to newskool to wild to
                            graphics and music.
                            <br/>
                            <br/>We are set on bringing you the best possible party experience we can - but we need your help
                            to make the compos something truly special.
                            <br/>
                            <br/>If you've been thinking about doing something with that old unreleased production that's been
                            gathering dust, now's the time.
                            <br/>
                            <br/>We welcome all platforms and disciplines.
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-5 hidden-xs hidden-sm">
                        <span>Winning Newskool Demo entry 2016</span>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fV8v0zR8UPc" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-area">
        <features></features>
    </div>
</div>