<div class="jumbotron jumbotron-fluid crowd-background">
    <div class="container">
        <img class="img-responsive" src="/content/glow-logo.png">
        <h1 class="display-4">Welcome to Edison 2018!</h1>
        <p class="lead">
            Welcome to three days of demoscene compos and activities on July 20th to 22nd in Stockholm! 
        </p>
    </div>
</div>

<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2 class="section-title">What is Edison?</h2>
                <p>
                    Edison is the biggest multiplatform demoparty in Sweden and has been around since 2011.
                </p>
                <h3 class="section-title">Compos</h3>
                <p>
                    Edison features lots of competitions – coding for all available platforms, compose music,
                    draw or animate beautiful graphics, compete live on stage – there's something for everybody and we
                    welcome all platforms and disciplines!
                </p>
                <p>
                    We are set on bringing you the best possible party experience we can - but we need your help to make the compos something truly special.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image">
                <img class="img-responsive" src="/content/prize-giving.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image">
                <img class="img-responsive" src="/content/eggeby.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Venue</h3>
                <p>
                    The venue Eggeby Gård is a converted barn with plenty of space, an open field for camping,
                    free parking and the Stockholm metro system nearby.
                </p>
                <p>
                    It's a perfect place to experience
                    the Swedish summer, meeting other sceners outside in the warm sun or working on your
                    production inside the barn while it rains.
                </p>
                <h3 class="section-title">Join us!</h3>
                <p>
                    Reserve the date in your calendar, pre-register on this site and buy your tickets - it's that easy!
                </p>
                <p>
                    Are you new to the demoscene? Great, come join us and see what it's all about!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2>Pre-register!</h2>
                <p>
                    We need a list of participants before the event starts for legal reasons. We can't
                    let you in if you're not registered or bought a ticket online.
                </p>
                <registration></registration>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2>Buy tickets!</h2>
                <p>
                    You can pre-purchase your tickets online to save money and help us plan the event even better!
                    By pre-purchasing you can also book a party t-shirt which will be yours once you arrive at the event.
                    A very limited if any amount of t-shirts will be sold on-location.
                </p>

                <table class="table table-bordered">
                    <tr>
                        <th>Pre-purchase Tickets Online</th>
                        <th>Price</th>
                    </tr>
                    <tr class="party-ticket">
                        <td>Party Ticket</td>
                        <td>350 SEK</td>
                    </tr>
                    <tr class="party-ticket-tshirt">
                        <td>Party Ticket + Party T-Shirt</td>
                        <td>500 SEK</td>
                    </tr>
                    <tr class="party-ticket-supporter">
                        <td>Supporter Ticket + Party T-Shirt</td>
                        <td>900 SEK</td>
                    </tr>
                    <tr class="party-ticket-sponsor">
                        <td>Sponsor Ticket + Party T-Shirt</td>
                        <td>5000 SEK</td>
                    </tr>
                    <tr class="party-ticket-sofa">
                        <td>I Love Edison But Can't Come ❤️</td>
                        <td>Any SEK</td>
                    </tr>
                </table>

                <p>
                    [BUTTON TO TICKET SERVICE SAME STYLE AS THE OTHER SUBMIT BUTTONS]
                </p>

                <table class="table table-bordered">
                    <tr>
                        <th>Tickets At The Door</th>
                        <th>Price</th>
                    </tr>
                    <tr class="party-ticket-door">
                        <td>Party Ticket (pre-registration required)</td>
                        <td>400 SEK</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Socialize on Slack!</h2>
                <slack-invite></slack-invite>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="section-title">Schedule</h2>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <table class="table table-bordered">
                    <tr><th colspan="2">Friday</th></tr>
                    <tr><td>17:00</td><td>Doors open</td></tr>
                    <tr><td>19:00</td><td>Opening ceremony</td></tr>
                    <tr><td>20:00</td><td>Live graphics compo</td></tr>
                    <tr><td>21:00</td><td>Live music compo</td></tr>
                    <tr><td>22:00</td><td>Live-Act</td></tr>
                    <tr><td>02:00</td><td>Noise curfew</td></tr>

                </table>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <table class="table table-bordered">
                    <tr><th colspan="2">Saturday</th></tr>
                    <tr><td>10:00</td><td>Breakfast is served</td></tr>
                    <tr><td>11:00</td><td>Showers open</td></tr>
                    <tr><td>12:00</td><td>Deadline Music compos</td></tr>
                    <tr><td></td><td>Deadline Graphics compos</td></tr>
                    <tr><td>14:00</td><td>Music compos</td></tr>
                    <tr><td>16:00</td><td>Graphics compos</td></tr>
                    <tr><td>18:00</td><td>Deadline Demo compos</td></tr>
                    <tr><td></td><td>Animation / Video compos</td></tr>
                    <tr><td>20:00</td><td>Demo compos</td></tr>
                    <tr><td>23:00</td><td>Deadline voting</td></tr>
                    <tr><td>00:00</td><td>Results & Prize-giving</td></tr>
                    <tr><td>02:00</td><td>Noise curfew</td></tr>
                </table>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <table class="table table-bordered">
                    <tr><th colspan="2">Sunday</th></tr>
                    <tr><td>10:00</td><td>Breakfast is served</td></tr>
                    <tr><td>11:00</td><td>Showers open</td></tr>
                    <tr><td>12:00</td><td>Doors close</td></tr>
                </table>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="section-title">Getting there</h2>
                <p>
                    fooo..
                </p>
            </div>
            <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
                <span>Winning Newskool Demo entry 2016</span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fV8v0zR8UPc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

</div>