<div class="jumbotron jumbotron-fluid crowd-background">
    <div class="container">
        <img class="img-responsive" src="/content/glow-logo.png">
        <h1 class="display-4">Welcome to Edison 2018!</h1>
        <p class="lead">
            Three days of demoscene compos and activities on July 20th to 22nd in Stockholm!
        </p>
    </div>
</div>

<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2 class="section-title">What is Edison?</h2>
                <p>
                    Edison is the biggest multiplatform demoparty in Sweden and has been around since 2011.
                </p>
                <h3 class="section-title">Compos</h3>
                <p>
                    Edison features lots of competitions including coding for all available platforms, composing music, drawing or animating beautiful graphics and
                    now even competing live on stage – there's something for everybody and we welcome all platforms and disciplines!
                </p>
                <p>
                    We are set on bringing you the best possible party experience we can - but we need your help to make the compos something
                    truly special.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image">
                <img class="img-responsive" src="/content/prize-giving.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 image">
                <img class="img-responsive" src="/content/eggeby.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="section-title">Venue</h3>
                <p>
                    The venue Eggeby Gård features a converted barn named Teaterladan with plenty of space, an open field for camping, free parking and the Stockholm
                    metro system nearby.
                </p>
                <p>
                    It's a perfect place to experience the Swedish summer, meeting other sceners outside in the warm sun or working on your production
                    inside the barn while it rains.
                </p>
                <h3 class="section-title">Join us!</h3>
                <p>
                    Reserve the date in your calendar, pre-register on this site and buy your tickets - it's that easy!
                </p>
                <p>
                    Are you new to the demoscene? Great, come join us and see what it's all about! We're convinced you'll be inspired
                    by the party experience and want to start working on your own demo productions!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row darker">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>Pre-register!</h2>
                <p>
                    We need a list of participants before the event starts for legal reasons. We can't let you in if you're not registered or
                    bought a ticket online.
                </p>
                <p>
                    <a [routerLink]="['/participants']">Check out who else is going!</a>
                </p>
                <registration></registration>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>Socialize on Slack!</h2>
                <p>
                    Enter your e-mail address to get invited to the party Slack where you can chat with organizers and participants
                    before, during and after the event.
                </p>
                <p>
                    You can also create private group channels without message history limitations.
                </p>
                <slack-invite></slack-invite>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Buy tickets!</h2>
                <p>
                    You can soon pre-purchase your tickets online to save money and help us plan the event even better! By pre-purchasing you can
                    also book a party t-shirt which will be yours once you arrive at the event. 
                </p>

                <div class="ticket-table">
                    <table class="table table-bordered">
                        <tr>
                            <th>Tickets Online</th>
                            <th>What you get</th>
                            <th>Price</th>
                        </tr>
                        <tr class="party-ticket">
                            <td>Party Ticket</td>
                            <td>The party ticket just as before! Gain full access to the entire party experience!</td>
                            <td class="text-nowrap">350 SEK</td>
                        </tr>
                        <tr class="party-ticket-tshirt">
                            <td>Party Ticket + Party T-Shirt</td>
                            <td>
                                The party ticket and the official party t-shirt! A very limited if any amount
                                of t-shirts will be sold on-location so pre-purchase yours now!
                            </td>
                            <td class="text-nowrap">500 SEK</td>
                        </tr>
                        <tr class="party-ticket-supporter">
                            <td>Supporter Ticket + Party T-Shirt</td>
                            <td>If you love what we do and want a twice as expensive ticket and the official party t-shirt!</td>
                            <td class="text-nowrap">850 SEK</td>
                        </tr>
                        <tr class="party-ticket-sponsor">
                            <td>Sponsor Ticket + Party T-Shirt</td>
                            <td>The easy way to become a sponsor, simply buy a sponsor ticket after contacting us for a sponsor agreement!</td>
                            <td class="text-nowrap">5000 SEK</td>
                        </tr>
                        <tr class="party-ticket-sofa">
                            <td>I Love Edison But Can't Come ❤️</td>
                            <td>You can donate any amount to the sofa scener fund to help us out with our lovely live-streaming efforts!</td>
                            <td class="text-nowrap">ANY SEK</td>
                        </tr>
                    </table>

                    <button class="btn btn-primary" disabled>
                        TICKETS AVAILABLE APRIL 28TH 13:00
                    </button>
                </div>


                <div class="ticket-table">
                    <table class="table table-bordered ">
                        <tr>
                            <th>Tickets At The Door</th>
                            <th>What you get</th>
                            <th>Price</th>
                        </tr>
                        <tr class="party-ticket-door">
                            <td>Party Ticket (pre-registration required)</td>
                            <td>The party ticket payed using credit card at the door just as before! With a slight price adjustment and pre-registration still mandatory.</td>
                            <td class="text-nowrap">400 SEK</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="section-title">Getting there!</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h3 class="section-title">Airport</h3>
                        <p>
                            When travelling by plane we recommend the Arlanda or Bromma airports. Taxi directly from Arlanda to
                            the party shouldn't be more than around 550 SEK, so if you are a group of people that's recommended.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h3>Metro</h3>
                        <p>
                            From Stockholm Central Station there it's a matter of either taking a cab or going by
                            the metro. If you want to go by metro, the closest stop is Tensta on the blue line, and from there it's a
                            1.5 kilometer walk to the party. A more scenic but longer walk can be enjoyed walking from Kista, also the blue line.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h3 class="section-title">Taxi</h3>
                        <p>
                            Going by taxi from Stockholm Central Station is easy if you use the designated taxi area outside.
                            The cabs there are regulated and won't charge any exuberant fees. It is located in the
                            front of the building.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h3 class="section-title">Car</h3>
                        <p>
                            The map below gives some hints. From the E18, take the exit at either Tensta (heading west) or Hjulsta
                            (heading east) and get on Hjulstavägen heading east. Then turn right onto Spånga Kyrkväg in Tensta 
                            and immediately turn left at the gas station and follow Krällingegränd, going under the E18. You'll
                            see Eggeby Gård from here on.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="">
                <div id="contact" class="map-area">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>

</div>