.jumbotron {
    background-color: #222;
    color: #FA0;
    margin-bottom: 0;
}

.jumbotron.crowd-background {
    background: url('/content/compo-time.jpg') no-repeat center center;
}

.row {
    background-color: #FFF;
    color: #000;
}

div.image {
    padding: 0;
    background-color: #000;
    color: #FA0;
}

.darker {
    background-color: #000;
    color: #FA0;
}

.ticket-table {
    padding: 10px 20px 10px 20px;
}

.ticket-table .table-bordered>tbody>tr>td, .ticket-table .table-bordered>tbody>tr>th, .ticket-table .table-bordered>tfoot>tr>td, .ticket-table .table-bordered>tfoot>tr>th, .ticket-table .table-bordered>thead>tr>td, .ticket-table .table-bordered>thead>tr>th, .ticket-table table {
    border-color: #FA0;
}

.party-ticket {
    background-color: darkcyan;
    color: #FFF;
}

.party-ticket-tshirt {
    background-color: darkolivegreen;
    color: #FFF;
}

.party-ticket-sofa {
    background-color: steelblue;
    color: #FFF;
}

.party-ticket-door {
    background-color: darkslategray;
    color: #FFF;
}

.party-ticket-supporter {
    background-color: darkslateblue;
    color: #FFF;
}

.party-ticket-sponsor {
    background-color: purple;
    color: #FFF;
}

#googleMap {
    height: 640px;
}

a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

.btn-primary {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

    .btn-primary:focus,
    .btn-primary.focus {
        color: #000 !important;
        background-color: #FA0 !important;
        border-color: #FA0 !important;
    }

    .btn-primary:hover {
        color: #000 !important;
        background-color: #FFF !important;
        border-color: #204d74 !important;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #000 !important;
        background-color: #FFF !important;
        border-color: #204d74 !important;
    }

        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #122b40 !important;
        }