.jumbotron {
    background-color: #222;
    color: #FA0;
    margin-bottom: 0;
}

.jumbotron.crowd-background {
    background: url('/content/compo-time.jpg') no-repeat center center;
}

.row {
    background-color: #FFF;
    color: #000;
}

div.image {
    padding: 0;
    background-color: #000;
    color: #FA0;
}

.darker {
    background-color: #000;
    color: #FA0;
}

.ticket-table {
    padding: 10px 20px 10px 20px;
}

.ticket-table .table-bordered>tbody>tr>td, .ticket-table .table-bordered>tbody>tr>th, .ticket-table .table-bordered>tfoot>tr>td, .ticket-table .table-bordered>tfoot>tr>th, .ticket-table .table-bordered>thead>tr>td, .ticket-table .table-bordered>thead>tr>th, .ticket-table table {
    border-color: #FA0;
}

.party-ticket {
    background-color: green;
    color: #FFF;
}

.party-ticket-tshirt {
    background-color: cadetblue;
    color: #FFF;
}

.party-ticket-sofa {
    background-color: grey;
    color: #FFF;
}

.party-ticket-door {
    background-color: indianred;
    color: #FFF;
}

.party-ticket-supporter {
    background-color: mediumorchid;
    color: #FFF;
}

.party-ticket-sponsor {
    background-color: purple;
    color: #FFF;
}

.brand-area .container {
    background: rgba(0, 0, 0, 0) url("/content/special-bg.jpg") no-repeat scroll 0 0 / cover;
    padding: 20px 0;
}

.brand-area .row {
    background-color: inherit;
}

.total-brand {
    width: 100%;
}

.single-brand {
    height: 100px;
    white-space: nowrap;
    
    text-align: center; 
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.single-brand>img {
    padding: 0 10px;
    max-height: 100px;
    max-width: 200px;
}

#googleMap {
    height: 300px;
}