<div class="about-area ptb100 fix" id="about-event">
        <div class="container">
            <div class="row">
                <div class="about-left">
                    <div class="about-top">
                        <h1 class="section-title">Tickets</h1>
                        <div class="total-step">
                            <h2 class="sub-title">Entrance fee: 300 SEK</h2>
                            <div class="descp">
                                <p>We do not handle cash so you pay by card on arrival. This year, like last year, <em>you
                                        absolutely have to pre-register to gain access to the party</em>, if you are
                                    not on the visitors list when the party starts we will not let you inside. This
                                    goes for EVERYONE. We do not offer discounted day tickets, and our price is non-negotiable!
                                    <br><br>This is the seventh edition of Edison and we try to improve from year
                                    to year to make sure Edison will be an awesome demoscene experience.
                                    <br><br>The core of any demoparty are the compos and we try our hardest to give
                                    you the best possible video and audio quality for your old and newskool productions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-top">
                        <h1 class="section-title">Live acts</h1>
                        <div class="total-step">
                            <div class="about-step">
                                <div class="descp">
                                    <p>
                                        Bah
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-top">
                        <h1 class="section-title">Food</h1>
                        <div class="total-step">
                            <div class="about-step">
                                <div class="descp">
                                    <p>There will be a foodtruck present with a selection of meat and vegetarian/vegan
                                        food and beer.
                                        <br><br>There are also several restaurants in the vicinity, and we'll provide
                                        you with information on where you can buy important stuff like coke and crisps.
                                        We'll provide the all important breakfast on Saturday and Sunday!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-top">
                        <h1 class="section-title">Facilities & sleeping</h1>
                        <div class="total-step">
                            <div class="about-step">
                                <div class="descp">
                                    <p>Shower is available in a seperate part of the venue at certain times during the
                                        party.
                                        <br><br>Tents are preferred if you want to get some sleep as there is limited
                                        space inside the party hall. There's plenty of parking space as well outside
                                        the venue.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>