<div class="footer-area" id="footer">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Where and when?</h3>
                <p>July 20th to 22nd</p>
                <p>
                    Eggeby Gård 1 (Teaterladan)<br />
                    163 62 SPÅNGA<br />
                    Sweden
                </p>
                <p>
                    <a href="https://goo.gl/maps/FL9rmcaxKdz">Open in Google Maps</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>How to participate?</h3>
                <p>
                    To participate you need to register on this website with a working e-mail address.
                    You are also encouraged to buy a ticket online as that will help us plan for the best event possible.
                </p>
                <p>
                    <a [routerLink]="['/participants']">Register for Edison 2018</a><br />
                    Tickets available from May 2nd 13:00<br />
                    <a [routerLink]="['/compos']">Compos</a><br />
                    <a [routerLink]="['/timetable']">Timetable</a><br />

                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>How to socialize?</h3>
                <p>
                    <a href="https://www.facebook.com/Edison-116351705114586/">Like our Facebook page</a><br />
                    <a href="https://www.facebook.com/events/345068682606422/">Join our Facebook event</a><br />
                    <slack-invite></slack-invite>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Contact us!</h3>
                <p>For any general questions and for sponsor proposals please send an email to: <a href="mailto:crew@edisonparty.com">crew@edisonparty.com</a></p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="total-brand">
            <div class="single-brand col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span class="helper"></span>
                <img src="/content/sponsors/arrowhead-logo-horiz-white-200x25.png" alt="">
            </div>
            <div class="single-brand col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span class="helper"></span>
                <img src="/content/sponsors/scenesat_white_small.png" alt="">
            </div>
            <div class="single-brand col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span class="helper"></span>
                <img src="/content/sponsors/syntax_white_small.png" alt="">
            </div>
            <div class="single-brand col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span class="helper"></span>
                <img src="/content/sponsors/flowersfx_white_small.png" alt="">
            </div>
        </div>

    </div>

</div>