.footer-area {
    background-color: #222;
    color: #9d9d9d;
    padding-bottom: 20px;
}

a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

label {
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 0;
}

.brand-area .container {
    padding: 20px 20px;
}

.brand-area .row {
    background-color: inherit;
}

.total-brand {
    width: 100%;
}

.single-brand {
    height: 100px;
    white-space: nowrap;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.single-brand > img {
    padding: 0 10px;
    max-height: 100px;
    max-width: 200px;
}


.btn-primary {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

.btn-primary:hover {
    color: #000 !important;
    background-color: #FFF !important;
    border-color: #204d74 !important;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #000 !important;
    background-color: #FFF !important;
    border-color: #204d74 !important;
}

    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open > .dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary.focus {
        color: #000 !important;
        background-color: #FFF !important;
        border-color: #122b40 !important;
}