.footer-area {
    background-color: #222;
    color: #9d9d9d;
}

a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

label {
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 0;
}