<div class="footer-area" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <h3>Where and when?</h3>
                    <p>July 20th to 22nd</p>
                    <p>Eggeby Gård 1 (Teaterladan)<br />
                        163 62 SPÅNGA<br/>
                        Sweden
                    </p>
                    <p>
                        <a href="https://goo.gl/maps/FL9rmcaxKdz">Open in Google Maps</a>
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <h3>How to participate?</h3>
                    <p>To participate you need to register on this website with a working e-mail address.
                    You are also encouraged to buy a ticket online as that will help us plan for the best event possible. </p>
                    <p>
                        <a [routerLink]="['/registration']">Register for Edison 2018</a><br />
                        <a [routerLink]="['/tickets']">Buy tickets for Edison 2018</a>
                    </p>
                </div>
                <div class="visible-sm visible-xs clearfix"></div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <h3>How to socialize?</h3>
                    <p>
                        <a [routerLink]="['/home']"><label for="email">Join our Slack</label></a><br />
                        <a href="#">Like our Facebook page</a><br />
                        <a href="#">Join our Facebook event</a>
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <h3>Contact us!</h3>
                    <p>For general and sponsor questions: <a href="mailto:crew@edisonparty.com">crew@edisonparty.com</a></p>
                </div>
            </div>
        </div>
    </div>