<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/about']">Edison 2019</a>
        </div>
        <!-- <div class='clearfix'></div> -->
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <span class='glyphicon glyphicon-home'></span> About
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/participants']">
                        <span class='glyphicon glyphicon-user'></span> Participants
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/compos']">
                        <span class='glyphicon glyphicon-heart'></span> Compos
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/timetable']">
                        <span class='glyphicon glyphicon-calendar'></span> Timetable
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a href="/2018/index.html" target="_self">
                        <span class='glyphicon glyphicon-floppy-disk'></span> 2018 Website
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>