.item {
    padding: 4px;
    text-align: center;
}

.header {
    font-weight: 900;
    font-size: 18px;
}

.list {
    background-color: #222;
}

.list:nth-child(2n+1) {
    background-color: #000;
}

.group {
    border-left: 1px solid #FA0;
    border-right: 1px solid #FA0;
}

@media (min-width: 991px) {
    .hidden-md-up {
        display: none;
    }
}

@media (max-width: 992px) {
    .hidden-md-down {
        display: none;
    }
}

a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}