.item {
    padding: 4px;
    text-align: center;
}

.header {
    font-weight: 900;
    font-size: 18px;
}

.list {
    background-color: #222;
}

.list:nth-child(2n+1) {
    background-color: #000;
}

.group {
    border-left: 1px solid #FA0;
    border-right: 1px solid #FA0;
}

@media (min-width: 991px) {
    .hidden-md-up {
        display: none;
    }
}

@media (max-width: 992px) {
    .hidden-md-down {
        display: none;
    }
}


a {
    color: #FA0;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

.btn-primary {
    color: #000 !important;
    background-color: #FA0 !important;
    border-color: #FA0 !important;
}

    .btn-primary:focus,
    .btn-primary.focus {
        color: #000 !important;
        background-color: #FA0 !important;
        border-color: #FA0 !important;
    }

    .btn-primary:hover {
        color: #000 !important;
        background-color: #FFF !important;
        border-color: #204d74 !important;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #000 !important;
        background-color: #FFF !important;
        border-color: #204d74 !important;
    }

        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #122b40 !important;
        }