@using Web.Models
@model IEnumerable<Web.Models.Participant>
@{
	ViewBag.Title = "Index";
}

@section Visitors {
	@{ string VisitorsData = ""; }
	@foreach (var visitor in Model) {
		<div>
			@Html.DisplayFor(model => visitor.Handle)
		</div>
	}
}
