<div class="registration ">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" required class="form-control" id="email" name="email" [(ngModel)]="registrant.email" #email="ngModel"
        />
        <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
            Email is required
        </div>
    </div>

    <div class="form-group">
        <label for="handle">Handle</label>
        <input type="text" required class="form-control" id="handle" name="handle" [(ngModel)]="registrant.handle" #handle="ngModel"
        />
        <div *ngIf="!handle.valid && handle.touched" class="alert alert-danger">
            Handle is required
        </div>
    </div>

    <div class="form-group">
        <label for="group">Group</label>
        <input type="text" class="form-control" id="group" name="group" [(ngModel)]="registrant.group" />
    </div>

    <div class="form-group">
        <label for="country">Country</label>
        <select id="country" name="country" required [(ngModel)]="registrant.country" class="form-control">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
    </div>

    <button type="submit" [disabled]="submitButtonDisabled" (click)="submit();" class="btn btn-primary">Register</button>

    <div class="alert alert-success" role="alert" *ngIf="registrationSuccessful">
        Registration successful!
        <div class="clearfix"></div>
        <a [routerLink]="['/participants']">Check out who else is going!</a>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
        <ul>
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
    </div>

</div>