	<div class="content">
				<div class="column">
					<div class="fullblurb">
						<h1>COMPOS</h1>
						<p>General rules</p>
						<ul>
							<li>All entries must be previously unreleased.</li>
							<li>Remote entries are not allowed.</li>
							<li>We reserve the right to perform preselection if we get an extraordinary amount of entries for a compo. We also reserve the right to disqualify any entries that we think are not serious. Only competing entries will be distributed after the party.</li>
							<li>Bring your own hardware if your contribution runs on anything other than one of the listed compo machines.</li>
							<li>Entries running on listed compo machines will be shown live. Entries on your own hardware will also be shown live if possible. If you know your platform can be difficult to show live on a digital broadcast bus be prepared to arrange a recording in either 50 or 60 Hz.</li>
							<li>Projector resolution: 1920x1080 at 50 or 60 Hz</li>
						</ul>
						<h2>UPDATES</h2> 
						<p>
							Last year we introduced the Live Graphics Duel on Friday and this year we're adding the Live
							Music Duel with new rules, requirements and equipment which we think might actually work this time. 
						</p>
						<p>
							Each live duel involves two participants and the total number of participants in each duel compo is 4 so there'll
							be two semi-finals and one final for each live duel compo.
						</p>	
						<p>
							This year we're also introducing an Amiga ASCII votesheet compo for the Versus 9 chartmag. This compo is the first to allow remote entries.
						</p>	
					</div>
				</div>	

				<div class="column">
					<div class="blurb">
						
						<h2>NEWSCHOOL DEMO</h2>
						<ul>
							<li>Maximum running time: 8 minutes.</li>
							<li>Maximum disk size: 64 MiB.</li>
							<li>
								Compo machines:
								<ul>
									<li>Intel Core i7-5820K 3.3GHz or better</li>
									<li>16GB 3000MHz quad-channel DDR4 or more</li>
									<li>Nvidia Geforce GTX 1080 Ti or better</li>
									<li>Windows 10, 64 bit, latest release</li>
								</ul>
							</li>
						</ul>

						<h2>OLDSCHOOL DEMO</h2>
						<ul>
							<li>Anything up to and including accelerated Amiga/Atari.</li>
							<li>Maximum running time: 8 minutes.</li>
							<li>Maximum disk size: 16 MiB.</li>
							<li>
								Compo machines:
								<ul>
									<li>C64 w. 8580 & 6581 SID switchable, 1541 Ultimate-2.</li>
									<li>Amiga 1200 w. 060 66MHz, 128 MB RAM.</li>
									<li>Amiga 500 w. standard RAM expansion.</li>
									<li>Other? Bring your own hardware!</li>
									<li>Framemeister (XRGB-Mini) scaler, ask us for the settings</li>
								</ul>
							</li>
						</ul>

						<h2>NEWSCHOOL INTRO</h2>
						<ul>
							<li>Maximum running time: 8 minutes.</li>
							<li>Maximum disk size: 64 KiB.</li>
							<li>
								Compo machines:
								<ul>
									<li>Intel Core i7-5820K 3.3GHz or better</li>
									<li>16GB 3000MHz quad-channel DDR4 or more</li>
									<li>Nvidia Geforce GTX 1080 Ti or better</li>
									<li>Windows 10, 64 bit, latest release</li>
								</ul>
							</li>
						</ul>

						<h2>WILD DEMO</h2>
						<ul>
							<li>Maximum running time: 8 minutes.</li>
							<li>
								A demo on a platform that doesn't really fit the other categories, an application,
								a game, something you built out of old SCSI controllers. Not an animation or video.
							</li>
							<li>Allowed formats: any (check with us if you're handing in something weird).</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
						</ul>	

						<h2>STREAMING MUSIC</h2>
						<ul>
							<li>Maximum running time: 4 minutes.</li>
							<li>Provide a short list of software/hardware used to make the tune.</li>
							<li>Allowed formats: MP3, Ogg, FLAC, WAV</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
						</ul>

						<h2>OLDSCHOOL & TRACKED MUSIC</h2>
						<ul>
							<li>Maximum running time: 4 minutes.</li>
							<li>
								PC modules will be played using the latest version of XMPlay.
								<br> Please specify if you want any specific playback settings in XMPlay, or
								else these will apply:
								<br> MOD: No Interpolation, No Ramping, 50 % Stereo Separation, normal MOD playback
								mode.
								<br> S3M/XM/IT: Sinc Interpolation, Sensitive Ramping, 50 % Stereo Separation.
							</li>
							<li>Amiga modules will be played using ProTracker, OctaMED, AHX or MusicLine.</li>
							<li>
								NES music can be handed in in FTM format and will be played in 0CC-FamiTracker if so.
							</li>
							<li>Allowed formats (PC): XM, IT, S3M</li>
							<li>Allowed formats (Amiga): MOD, OctaMED, AHX, MusicLine</li>
							<li>Allowed formats (NES): FamiTracker FTM, executable</li>
							<li>Allowed formats (others): executable</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
						</ul>

						<h2>LIVE MUSIC DUEL (experimental)</h2>
						<ul>
							<li>Time on stage: 10 minutes composing.</li>
							<li>Any music software stack is allowed, trackers and synths. Excersize caution on presets and libraries, the audience is watching.</li>
							<li>Bring your own music setup that can output sound over HDMI together with a mirrored image of your software at 720p or 1080p
								<ul>
									<li>This means your setup needs to output your audio over HDMI, so using a separate audio interface will not work unless you can mirror your audio to HDMI too</li>
									<li>There will be an HDMI audio extractor on your table on the stage with a 3.5mm headphone jack with a volume knob for your own audio monitoring</li>
									<li>The beam team will receive both participants audio and put it alternatingly on the main speakers to let the audience hear you working</li>
								</ul>
							</li>
							<li>Bring your own headpnones for 3.5mm jack or with a suitable adapter</li>
							<li>Each duel will have a restriction announced, for example: compose a seamlessly looping song or compose a jingle with a maximum run-time of 30 seconds</li>
							<li>Please be at the party on Friday with your setup at the latest 18:00 and tell the infodesk you've arrived and want to participate in the live music duel</li>
						</ul>

					</div>									
				</div>

				<div class="column">
					<div class="blurb">

						<h2>LIVE GRAPHICS DUEL</h2>
						<ul>
							<li>Time on stage: 10 minutes drawing</li>
							<li>A theme will be selected and announced 5 minutes before each duel, giving participants a bit of time to think</li>
							<li>Bring your own drawing setup that can output a mirrored image over HDMI at 720p or 1080p</li>
							<li>Use any software you like as long as you can produce a drawing from a blank canvas</li>
							<li>Existing images, sprites and so on are not allowed. Custom abstract brushes are fine but excersize caution, the audience is watching.</li>
							<li>Please be at the party on Friday with your setup at the latest 18:00 and tell the infodesk you've arrived and want to participate in the live graphics duel</li>
						</ul>

						<h2>NEWSCHOOL GRAPHICS</h2>
						<ul>
							<li>Combined hires/raytracing compo.</li>
							<li>State if your picture is painted or raytraced when handing it in.</li>
							<li>Please provide three workstages for painted pictures.</li>
							<li>Allowed formats: PNG, JPEG.</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
							<li>Graphics compos may be merged if we get too few entries in either compo.</li>
						</ul>

						<h2>OLDSCHOOL GRAPHICS</h2>
						<ul>
							<li>Anything up to 320x256 with 8 BPP.</li>
							<li>Please provide three workstages.</li>
							<li>Allowed formats (PC/Amiga): PNG, IFF/ILBM.</li>
							<li>Allowed formats (others): Executable.</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
							<li>Graphics compos may be merged if we get too few entries in either compo.</li>
						</ul>

						<h2>ASCII/ANSI/PETSCII GRAPHICS</h2>
						<ul>
							<li>Oldschool, newschool, block and ANSI in one compo</li>
							<li>
								Entries will be shown in PabloView. oldskool will be shown with topaz; standard
								DOS font for the other styles.
							</li>
							<li>Keep it to 80 columns. Height? You decide.</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
							<li>We reserve the right to remove any converted entries from the compo.</li>
							<li>May be merged with ASCII VOTESHEET VERSUS #9 compo if we get too few entries in either compo.</li>
						</ul>	

						<h2>ASCII VOTESHEET VERSUS #9</h2>
						<ul>
							<li>An Amiga ASCII votesheet design compo for Versus:
								<ul>
									<li>Design the Amiga ASCII votesheet for Versus #9 coming out later this year</li>
									<li>Remote entries allowed, submit them to <a style="white-space:nowrap" href="mailto:compo-release@nukleus.nu">compo-release@nukleus.nu</a> before the compo deadline</li>
									<li>Local entries are submittet as a normal</a></li>
									<li>Voting is done locally at Edison as a normal compo</a></li>								
								</ul>
							</li>
							<li>Need to include place for top 5 entries in each category
								<ul>
									<li>Download an <a href="/content/versus-votesheet-example.asc" target="_blank">example votesheet design</a> for reference but you don't need to include the exact category names as in the example</li>	
								</ul>
							</li>
							<li>Don't need to use an Amiga to design it</li>
							<li>The rest of the rules are the same as ASCII/ANSI/PETSCII GRAPHICS</li>
							<li>May be merged with ASCII/ANSI/PETSCII compo if we get too few entries in either compo.</li>
						</ul>	

						<h2>ANIMATION & VIDEO</h2>
						<ul>
							<li>Maximum running time: 8 minutes.</li>
							<li>A movie clip you made that's either pretty, interesting or funny.</li>
							<li>Allowed formats: All movie formats (use common sense or contact us).</li>
							<li>
								If your contribution is based on an existing piece of work, please provide a reference
								when handing it in.
							</li>
						</ul>

						<h2>PHOTO</h2>
						<ul>
							<li>Photo compo, separate photo-only compo, new for 2018.</li>
							<li>Retouching and collages are allowed.</li>
							<li>Please provide unmodified photo as a workstage.</li>
							<li>Allowed formats: JPEG.</li>
							<li>
								You have to be the creator of the photo.
							</li>
							<li>May be merged with graphics compos if we get too few entries in either compo.</li>
						</ul>	

					
					</div>			
				</div>	

			</div>