@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
	<!-- <div>
		<label for="Handle">Handle</label>
		@Html.TextBox("Handle")
	</div>
	<div>
		<label for="Group">Group</label>
		@Html.TextBox("Group")
	</div>
	<div>
		<label for="Country">Country</label>
		@Html.TextBox("Country")
	</div>
	<div>
		<label for="Email">Email</label>
		@Html.TextBox("Email")
	</div>
	<div>
		<input type="submit">
	</div> -->
<h2>  Registration closed for 2019 </h2>


}

